body {
    background-color: #ebebeb;
}

section {
    background-color: #fff;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.25);
}
.navbar {
    background-image: linear-gradient(to right, rgb(203, 203, 255), rgb(252, 205, 252));
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.home {
    margin-top: 14vh;
}

#arrow {
    animation: upDown 1s infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY(10px);
    } 100% {
        transform: translateY(0);
    }
}

.toggle {
    display: none;
}